/octave_tutorial_framework/plots/*
/ekf_slam_framework/plots/*
/unscented_transform_framework/plots/*
/ukf_slam_framework/plots/*
/gridmaps_framework/plots/*
/pf_framework/plots/*
/fastslam_framework/plots/*
/odom_calib_framework/plots/*
/lsslam_framework/plots/*